/*About*/
h2 {
    font-size: 50pt;
    text-align: center;
    font-family: 'Allura', cursive;
    position: relative;
}

ul {
    border-top: 1px solid black;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    margin: 30px;
    padding: auto;
    text-align: justify;
}

.aboutInfo {
    margin: 100px;
    display: block;
    text-align: justify;
}

