.navbar-brand {
    width: 150%;
    height: 50%;
}


.jumbotron {
    background: url(https://images.unsplash.com/photo-1517707711963-adf9078bdf01?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center bottom;
    background-size: cover;
    height: 35vh;
    color: white;
}
